.rule1 {color:blue;}

aside section p {
	color: red;
	font-family: "georgia";
	text-align: center;
	line-height: 15px
}

ul {

color: orange;
}

header {
	padding-top: 10px;
	padding-left: 2px;
	padding-bottom: 10px;
	padding-right: 2px;
}

p{
	background-color: white;
}

body header {
	text-align: center;
}

header h1 {
	font-size: 2.0em;
}